<!-- 
  @Author: Jean Mira
  @Date:   2024-09-15 11:14:19
  @Last Modified by:   Jean Mira
  @Last Modified time: 2024-09-15 19:54:29
-->

<div class="container">
  <div class="jumbotron">
    <h1>Hotel booking</h1>
  </div>

  <h2>Booking details</h2>
  <div class="form-group">
    <label> Name:</label>
    <input
      [(ngModel)]="client.name"
      class="form-control"
      placeholder="Client name"
    />
  </div>
  <div class="form-group">
    <label>Type:</label>
    <select [(ngModel)]="clientType" class="form-control">
      <option value="normal" selected>Normal</option>
      <option value="premium">Premium</option>
    </select>
  </div>
  <div class="form-group">
    <label>Quantity of days:</label>
    <input
      [(ngModel)]="quantityDays"
      pattern="[0-9]+"
      required
      type="number"
      min="1"
      class="form-control"
      placeholder="Quantity of days"
    />
  </div>
  <button (click)="makeBooking()" class="btn btn-primary">
    Make a booking
  </button>

  <div class="mt-4" *ngIf="hotelService.getBookings().length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Client name</th>
          <th>Client type</th>
          <th>Room type</th>
          <th>Quantity of days</th>
          <th>Booking value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of hotelService.getBookings()">
          <td>{{ booking.client.name }}</td>
          <td>{{ booking.client.type }}</td>
          <td>{{ booking.room.type }}</td>
          <td>{{ booking.quantityDays }}</td>
          <td>{{ booking.totalValue() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
